numpy>=1.23,<2.0
pyside6>=6.6
pandas>=1.5
scipy>=1.9
scikit-learn>=1.2,<1.8
joblib>=1.2
torch>=2.0
matplotlib>=3.7
seaborn>=0.12
deepchecks>=0.17
pylsl>=1.16
bleak>=0.21
bitstring>=4.1
pyqtgraph>=0.13
tqdm>=4.65
pynput>=1.7
pyserial>=3.5
pytest>=7.4
